
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Contact us</label>
                    <div class="row">
                        <h4 style="text-align:center">We'd love to hear from you!</h4>
                    </div>  
					<input type="text" name="txt" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<textarea name="text" placeholder="Tell us what you want..." required=""></textarea>

					<button>Send</button>
				</form>
			</div>
	</div>
</body>